body {
  margin: 0;
}

ul {
  padding: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  overflow: hidden;
}


.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.ativo {
  opacity: 1;
  transform: scale(1);
}


[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control="slide"] li a {
  display: block;
  width: 24px;
  height: 24px;
  background: #fb5;
  margin: 5px;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
}

[data-control="slide"] li.active a, [data-control="slide"] li a:hover {
  background: #e54;
}
